<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muy.muysamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".wrapper.WrapperSampleActivity" />
        <activity android:name=".permission.PermissionSampleActivity" />
        <activity android:name=".event.EventHandleActivity" />
        <activity android:name=".widget.WidgetSampleActivity" />
        <activity android:name=".animation.AnimatedVectorActivity" />
        <activity android:name=".wallpaper.LiveWallpaperActivity" />
        <activity android:name=".lottieanimtion.LottieAnimActivity" />
        <activity android:name=".recyclerview.RecyclerViewSampleActivity" />
        <activity android:name=".systemui.SystemUiActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".http.HttpSampleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".wallpaper.LiveWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

</manifest>